body {
    background-color: black;
    color:white;
}

.site-header__wrapper {
    border: 1px solid white;
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    align-items: center;
  }
.nav{
    margin-left: auto;
}

.gallery-img{
    height:250px;
}

.k-widget{
    color:white;
    background-color:black;
}